.amenities-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amenities-info {
  position: relative; /* Required for pseudo-element positioning */
  background: rgba(91, 140, 231, 0.85); /* background color */
  color: #ffffff;
  padding: 1.5rem 80px;
  width: 700px;
  height: 100dvh;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden; /* Prevent pseudo-element overflow */
}

/* Pseudo-element for background image with opacity */
.amenities-info::before {
  content: "";
  position: absolute;
  bottom: 1rem;
  right: 0;
  width: 550px;
  height: 550px;
  background: url(../images/note-white.png) no-repeat bottom right;
  background-size: contain;
  opacity: 0.25; /* <-- control image opacity here */
  z-index: -1;
  pointer-events: none;
}

.amenities-info h1 {
  line-height: 3.5rem;
  margin-bottom: 1rem;
}

.amenities-info ul {
  list-style: disc;
  columns: 2;
  margin-top: 1rem;
  padding-left: 1.5rem;
}

.amenities-info li {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  list-style: none;
}

.carousel-wrapper {
  position: relative;
  width: 100%;
}

.carousel {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #000;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  z-index: 0;
  pointer-events: none;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide.active {
  opacity: 1;
  z-index: 1;
  pointer-events: auto;
}

.controls {
  position: absolute;
  bottom: 30px;
  right: 5%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 2;
}

.arrow {
  background: rgba(0, 0, 0, 0.329);
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.arrow:hover {
  background: rgba(91, 140, 231, 0.9);
}

/* Responsive */
@media (max-width: 1028px) {

  .amenities-section {
    height: 100%;
  }

  .amenities-wrapper {
    flex-direction: column;
  }

  .amenities-info {
    width: 100%;
    height: auto;
    padding: 2rem;
    background-size: 300px;
  }

  .amenities-info h1 {
    font-size: 2rem;
    width: 100%;
    line-height: 2.5rem;
  }

  .amenities-info li {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }

  .carousel {
    height: 300px;
  }

  .slide img {
    height: 300px;
  }

  .controls {
    bottom: 10px;
  }

}

/* Responsive */
@media (max-width: 728px) {
/* Pseudo-element for background image with opacity */
.amenities-info::before {
  width: 250px;
}
}