@font-face {
  font-family: "HenrySansLight";
  src: url("../fonts/HENRYSANS-LIGHT.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "HenrySansLight", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 80px;
  /* background-color: rgba(255, 255, 255, 0); */
  background-color: #ffffff94;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease;
  z-index: 1000;
}

.header.scrolled {
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 150px;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.menu-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 20px;
  font-size: 20px;
}

.menu-item a {
  display: inline-flex;
  text-decoration: none;
  color: #203d83;
  font-weight: 500;
  align-items: center;
  font-weight: 600;
}

.menu-item img {
  margin-right: 5px;
}

.menu-item a:hover {
  color: #b89e49;
}

.contact{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.contact{
  color: #000f73;
  font-weight: 600;

}

.icon-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #203d83;
}

/* MOBILE STYLES */
@media (max-width: 768px) {

  .header{
    padding: 5px 20px ;
  }
  .navbar {
    height: 80px;
  }
  .nav-links {
    position: absolute;
    top: 90px;
    right: 0;
    background: #ffffff;
    width: 100%;
    height: 100dvh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(240, 238, 238, 0.2);
    display: none; /* hidden by default */
  }

  .nav-links.active {
    display: flex;
  }

  .menu-list {
    flex-direction: column;
    gap: 10px;
  }

  .menu-item a {
    font-size: 35px;
  }

  .menu-toggle {
    display: block;
  }
}


#backToTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
  display: none; /* Hidden by default */
  background-color: #000f73;
  border: none;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#backToTop:hover {
  background-color: #1b2da0;
}

#backToTop svg {
  display: block;
}