/* kv */
.kv-section {
  width: 100%;
  /* 16:9 aspect ratio (h/w) */
  height: 100dvh;
  overflow: hidden;
  background-color: #002349;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
  padding: 1.5rem;
}

#custom-video{
  border-radius: 8px;
  width: 1146px;
  height: 645px;
}


#custom-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: #002349;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}


.vid-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  gap: 2rem;
}

.vid-info h1{
  width: 320px;
  text-align: center;
  font-size: 30px;
}

.vid-info p{
  width: 520px;
  text-align: center;
  font-size: 1.6rem;
}


/* Responsive adjustments */

@media (max-width: 728px) {
.kv-section {
  /* 16:9 aspect ratio (h/w) */
  height: 100%;
  padding: 2rem 0;
}
#custom-play-button { 
  width: 50px;
  height: 50px;
  font-size: 16px;
}

.video-wrapper{
  height: 100%;
}
#custom-video{
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
  .vid-info h1{
  font-size: 2rem;
  
}

.vid-info p{
  text-align: center;
  font-size: 1rem;
  padding: 3rem 1.5rem;
  width: 100%;
}
.vid-info{
  gap: 1rem;
}

.vid-info p{
  padding: 0 1.5rem;
}
}