
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* padding: 0 80px; */
}

.map-info {
  width: 35%;
  height: 100%;
  padding-left: 80px;
  padding-right: 0px;
  background-color: #002349;
  position: relative;
  background-image: url(../images/note-white.png);
  background-size: 980px auto;
  /* example width */
  background-repeat: no-repeat;
  background-position: right calc(100% - 25px);
  /* move up 15px from bottom */
}


.image-map-wrapper {
  width: 65%;
  height: 100%;
  position: relative;
}

.image-map-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* cover the container */
  position: top center;
}

.map-wrapper {
  position: absolute;
  top: 8rem;
  left: 8rem;
  z-index: 2;
  margin: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 50%;
  gap: 2rem;
}

.map-wrapper p {
  font-size: 1.4rem;
  width: 520px;
}
    
.image-map-wrapper {
  position: relative;
}

.map-image {
  width: 100%;
  height: auto;
  display: block;
}

.pin {
  position: absolute;
  top: 68%;
  /* adjust this to move the pin vertically */
  left: 74%;
  /* adjust this to move the pin horizontally */
  transform: translate(-50%, -100%);
  /* align bottom center of pin */
  cursor: pointer;
  z-index: 10;
}

.pin-image {
  width: 4rem !important;
  height: auto !important;
  pointer-events: auto;
  animation: pinBounce 1.2s infinite;
  transition: transform 0.3s ease;
}
.view-map{
  position: absolute;
  top: 95%;
  /* adjust this to move the pin vertically */
  right: 5%;
  /* adjust this to move the pin horizontally */
  transform: translate(-50%, -100%);
  /* align bottom center of pin */
  cursor: pointer;
  z-index: 10;
  background-color: #002349;
  color: #fff;
  border-radius: 16px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
}

@keyframes pinBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

/* Responsive adjustments */
@media (max-width: 1023px) {

  .map-section{
    height: 100%;
  }
  .map-container {
    height: fit-content;
    flex-direction: column;
  }

  .map-info {
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    background-image: none;
  }

  .image-map-wrapper {
    width: 100%;
    height: 100%;
  }

  .image-map-wrapper img {
    height: 100%;
  }

  .map-wrapper {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    text-align: center;
    height: 100%;
  }

  .map-wrapper h1 {
    width: 100%;
    text-align: center;
  }

  .map-wrapper p {
  font-size: 1.2rem;
}

.map-info li {
  list-style: none;
}

}

/* Responsive adjustments */
@media (max-width: 768px) {
  .map-wrapper{
  font-size: 1.2rem;
  padding: 3rem 1.5rem;
}

.map-wrapper p{
  width: 100%;
}


.view-map{
  /* adjust this to move the pin vertically */
  right: 9%;
  font-size: 16px;
}

.pin-image {
  width: 4rem !important;
}

.map-info li {
  font-size: 1.2rem;
}
}