.image-map-wrapper {
    position: relative;
}

.map-image {
    width: 100%;
    height: auto;
    display: block;
}

.pin {
    position: absolute;
    top: 49%; /* adjust this to move the pin vertically */
    left: 59%; /* adjust this to move the pin horizontally */
    transform: translate(-50%, -100%); /* align bottom center of pin */
    cursor: pointer;
    z-index: 10;
}

.pin-image {
    width: 8rem !important;
    height: auto !important;
    pointer-events: auto;
}
