.image-map-wrapper {
    position: relative;
}

.map-image {
    width: 100%;
    height: auto;
    display: block;
}

.pin {
    position: absolute;
    top: 49%; /* adjust this to move the pin vertically */
    left: 59%; /* adjust this to move the pin horizontally */
    transform: translate(-50%, -100%); /* align bottom center of pin */
    cursor: pointer;
    z-index: 10;
}

.pin-image {
    width: 8rem !important;
    height: auto !important;
    pointer-events: auto;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  
  .map-container {
    height: 100%;
    flex-direction: column;
  }

  .map-info {
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    background-image: none;
  }

  .image-map-wrapper {
    width: 100%;
    height: 100%;
  }

  .image-map-wrapper img {
    height: 100%;
  }

  .map-wrapper {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    text-align: center;
    height: 100%;
  }

  .map-wrapper h1{
    width: 100%;
    text-align: center;
  }

  .map-wrapper h2 {
    width: 100%;
  }

  

  
} 