/* sdp */
.sdp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* enables responsive stacking on small screens */
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #203d83;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 35%;
  padding: 0 20px 0 80px;
  box-sizing: border-box;
}

.sdp-title {
  font-size: 4rem;
}

.title-wrapper p {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}

.sdp-wrapper {
  width: 65%;
  height: 100%;
  box-sizing: border-box;
}

.sdp-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Tablet */
@media (max-width: 1023px) {
    .sdp-container {
        height: 100%;
    }
    
    .sdp-title {
        font-size: 3rem;
    }

  .title-wrapper {
    width: 100%;
    padding: 2rem;
    align-items: center;
    text-align: center;
  }

  .sdp-wrapper {
    width: 100%;
    height: auto;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .sdp-title {
    font-size: 2rem;
  }

  .title-wrapper p {
    font-size: 1rem;
  }
}
