html {
  scroll-behavior: smooth;
}

.section-container {
  height: 100dvh;
  width: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 2px;
}


/* .smdc-desc-hero {
  position: absolute;
  top: 12rem;
  left: 8rem;
  z-index: 2;
  margin: 20px 0;
  width: 40%;
  white-space: pre;
  color: #fff;
  text-align: left;
  font-size: 1.6rem;
} */


/* about smdc */
.smdc-section {
  background-image: url(../images/AboutSMDC.jpg);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  padding: 0;
  color: #fff;
}

.smdc-wrapper {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 55%;
  padding: 100px;
}

.smdc-wrapper a {
  text-decoration: none;
  color: #fff;
}

.smdc-wrapper a:hover {
  color: #f0cb51;
}

.smdc-desc {
  width: 75%;
  color: #fff;
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Responsive adjustments */
@media (max-width: 1028px) {

  .smdc-section {
    height: 100%;
     background-position: right center;
     text-align: center;
     padding-top: 2rem;
  }

  h1 {
    font-size: 3rem;
  }

  .smdc-desc-hero {
    position: absolute;
    top: 13rem;
    left: 4rem;
    font-size: 1.3rem;
    margin: 0;
  }

  .smdc-desc {
    width: 100%;
    padding: 0 30px;
    font-size: rem;
  }

  .learn-more {
    width: 100%;
    padding: 0 30px;
  }

  .smdc-wrapper {
    width: 100%;
  }

  .smdc-wrapper {
    padding: 0;
  }

  .amenities-info {
    width: 100%;
  }

  .smdc-section {
    background-attachment: scroll;
    /* better performance on mobile */
  }
}

@media (max-width: 728px) {
   h1 {
    font-size: 2rem;
  }

   .smdc-desc-hero {
    font-size: 1rem;
  }
}