.units-flex-container {
    display: flex;
    color: #fff;
    gap: 50px;
}

.units-section {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #002349;
    height: 100%;
    padding-bottom: 4rem;
}

.units-section-carousel {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.units-carousel {
    width: 700px;
    position: relative;
    overflow: hidden;
}

.units-carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: max-content;
}

.units-carousel-images img {
    width: 700px;
    height: 500px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 12px !important;
}

.units-title-wrapper {
    width: 100%;
    padding: 7rem 8rem 0 8rem;
}

.units-title-wrapper>p {
    font-size: 1.3rem;
    line-height: 1.2;
    color: #fff;
}

.units-title {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 1rem;
}

.indicators {
    text-align: center;
    margin-top: 10px;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 6px;
    cursor: pointer;
}

.hr-rounded {
    display: none;
}

.indicator.active {
    background-color: #b89e49;
}

.info-container {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-top: 15px;
    padding: 15px 20px 0 20px;
}

.title-container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 35px;
    padding: 15px 30px 0 30px;
}

.units-image-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    font-size: 1.3rem;
}

.units-image-title p {
    width: 100%;
    font-size: 0.9rem;
}

.units-description p {
    width: 80%;
}

.units-image-title h2 {
    font-size: 1.4rem;
    font-weight: 600;
}


.units-description {
    font-size: 1.1rem;
}

.price {
    width: 40%;
    font-size: 0.9rem;
}

.price-title {
    font-weight: 600;
}

/* Small Laptop or Desktop */
@media (max-width: 1600px) {
    .units-carousel {
        width: 80vw;
        position: relative;
        overflow: hidden;
    }

    .units-carousel-images img {
        width: 80vw;
        height: 300px;
        border-radius: 16px;
    }

    .info-container {
        width: 80vw;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

/* Tablet and below */
@media (max-width: 1028px) {
    .units-flex-container {
        flex-direction: column;
        border-radius: 16px;
    }

    .units-carousel-images {
        border-radius: 16px;
    }

    .units-carousel {
        width: 80vw;
        position: relative;
        overflow: hidden;
    }

    .units-carousel-images img {
        width: 80vw;
        height: 300px;
        border-radius: 16px;
    }

    .units-title-wrapper {
        padding: 3rem 2rem 0 2rem;
    }

    .units-image-title h2 {
        font-size: 1rem;
    }


    .units-title {
        font-size: 2rem;
        text-align: center;
    }

    .units-title-wrapper>p {
        font-size: 1rem;
        text-align: center;
    }

    .info-container {
        width: 80vw;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .units-description p {
        width: 100%;
    }

    .units-description,
    .price {
        width: 100%;
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .price {
        text-align: center;
    }

    .hr-rounded {
        display: block;
        margin: 1rem 0;
    }
}

/* Mobile phones */
@media (max-width: 480px) {
    .units-carousel-images img {
        height: 200px;
    }

    .units-title-wrapper {
        padding: 0;
        margin-bottom: 1.5rem;
    }

    .units-title {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .title-container {
        margin-bottom: 1rem;
    }

    .units-title-wrapper>p {
        font-size: 1rem;
        text-align: center;
    }

    .indicator {
        width: 8px;
        height: 8px;
        margin: 0 4px;
    }

    .units-description,
    .price {
        font-size: 0.9rem;
    }

    .units-section-carousel {
        flex: 1;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .hr-rounded {
        display: block;
        margin: 2rem 0;
    }
}